.profileLeft{
	background-color:aliceblue !important;
	height:250px;
	margin-top:60px;
	text-align: center;
}

.img-circle{
	border-radius:50%;
}

.img-responsive{
	height:140px;
	width:140px;
	max-width:100%;
}

.profileRight{
	background-color:aliceblue !important;
	height:250px;
	margin-top:60px;
}

i{
	margin-left:10px;
}

.row{
  margin-left: 0;
  margin-right: 0;
}
