.event-block {
  // border: 1px solid lightgray;
  .event-block-head {
    font-size: 20px;
    text-align: center;
  }
  .event-block-body {
    font-size: 14px;
    margin: 10px;
  }
  .event-block-footer {
    margin: 10px;
    text-align: right;
  }
}
.heading {
  margin-top: 10px;
}
